@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --scrollbar-track-bg: hsl(var(--border));
    --scrollbar-thumb-bg: hsl(var(--primary));
    --scrollbar-thumb-hover-bg: hsl(var(--primary-foreground));
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --scrollbar-track-bg: hsl(210, 10%, 20%);
    --scrollbar-thumb-bg: hsl(210, 10%, 80%);
    --scrollbar-thumb-hover-bg: hsl(210, 10%, 90%);
  }
}

@layer components {
  .border-border {
    border-color: hsl(var(--border));
  }
}

/* html {
  zoom: 90%;
} */

@layer base {
  * {
    @apply border-border;

    * {
      scrollbar-width: thin;
      scrollbar-color: hsl(0, 0%, 15%) hsl(0, 0%, 89.8%);
    }

    *::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    *::-webkit-scrollbar-track {
      background-color: hsl(0, 0%, 89.8%);
    }

    *::-webkit-scrollbar-thumb {
      background-color: hsl(0, 0%, 0%);
      border: 3px solid hsl(0, 0%, 89.8%);
    }

    *::-webkit-scrollbar-button {
      background-color: transparent;
      height: 12px;
      width: 12px;
    }

    *::-webkit-scrollbar-button:vertical:decrement,
    *::-webkit-scrollbar-button:vertical:increment {
      background-color: transparent;
    }
  }
  body {
    @apply bg-background text-foreground;
  }

  body {
    @apply dark:bg-gray-800 bg-white;
    overflow: hidden;
  }
}

.profile-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../../public/assests/profile-banner.jpg");
  background-position: center;
  background-size: cover;
  height: 22rem;
  object-fit: cover;
  border-radius: 1.25rem;
}

.camera-icon-div {
  opacity: 0;
  cursor: pointer;
}

.profile-img-div:hover .camera-icon-div {
  opacity: 1;
}

/* Applicant -> Job details banner */
.job-details-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.46) 0%,
      rgba(0, 0, 0, 0.59) 100%
    ),
    url(../../public/assests/details.png);
  height: 200px;
  border-radius: 8px;
}

.apply-button {
  opacity: 0;
}

.apply-header:hover .apply-button {
  opacity: 1;
}

.jobListCard {
  gap: 0.75rem;
}

@media (min-width: 450px) {
  .jobListCard {
    gap: 1.25rem;
  }
}

@media (min-width: 550px) {
  .applicantsListGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.quill {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid transparent;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.05);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.quill:focus-within {
  border-color: #000000;
}
.ql-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ql-container > .ql-editor {
  max-width: 90%;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  font-style: normal;
  color: #a3a3a3;
}

.active .step {
  @apply bg-sky-600;
}

.complete .step {
  @apply bg-green-600;
}

.step-items:not(:first-child)::before {
  @apply content-[''] bg-slate-300 absolute w-full h-1 right-2/4 top-1/3 -translate-y-1 transition-colors duration-300;
}

.complete:not(:first-child)::before {
  @apply bg-green-600;
}

@layer utilities {
  .bg-stripes {
    background-image: repeating-linear-gradient(
      135deg,
      #f9fafb 25%,
      #f3f4f6 25%,
      #f3f4f6 50%,
      #f9fafb 50%
    );
    background-size: 20px 20px;
  }
}

/* React Scheduler CSS */

@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

/* Syncfusion Scheduler Theme Styles */

.e-schedule {
  background-color: #f9fafb;
  color: #1f2937;
}

.e-schedule .e-schedule-toolbar,
.e-schedule .e-timeline-month-header-calendar,
.e-schedule .e-timeline-month-header,
.e-schedule .e-schedule-toolbar-items {
  border-color: #e5e7eb;
  @apply bg-gray-800;
}

.e-toolbar .e-toolbar-items,
.e-toolbar .e-toolbar-items .e-toolbar-item > button,
.e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-item.e-date-range
  .e-tbar-btn
  .e-tbar-btn-text,
.e-toolbar .e-toolbar-items .e-toolbar-item .e-btn-icon,
.e-toolbar .e-popup-up-icon.e-icons {
  @apply bg-gray-800 text-gray-300;
}

.e-toolbar .e-toolbar-items .e-toolbar-left .e-toolbar-item:first-child,
.e-toolbar .e-toolbar-items .e-toolbar-left .e-toolbar-item:last-child,
.e-toolbar .e-toolbar-item .e-tbar-btn .e-tbar-btn-text {
  @apply text-gray-300;
}

.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text {
  @apply text-red-500 font-bold;
}

.e-toolbar .e-toolbar-item .e-tbar-btn:hover:active .e-tbar-btn-text {
  @apply scale-105 duration-200;
}

.e-toolbar .e-toolbar-item .e-tbar-btn:hover .e-tbar-btn-text {
  @apply text-red-500 font-bold;
}

.e-schedule .e-schedule-toolbar .e-hor-nav,
.e-schedule .e-schedule-toolbar .e-hor-nav > div {
  @apply text-gray-300 bg-gray-800 border-none;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment,
.e-schedule .e-month-view .e-appointment {
  color: #1f2937;
  background-color: #f9fafb;
}

.e-schedule .e-month-view .e-work-cells,
.e-schedule .e-vertical-view .e-work-cells {
  border-color: #e5e7eb;
  color: #1f2937;
}

.e-schedule .e-month-view .e-work-cells:hover,
.e-schedule .e-vertical-view .e-work-cells:hover {
  background-color: #f3f4f6;
  color: #1f2937;
}

.e-schedule .e-month-view .e-current-date,
.e-schedule .e-vertical-view .e-current-date {
  background-color: #e5e7eb;
  color: #1f2937;
}

.e-schedule .e-header-cells,
.e-schedule .e-resource-cells,
.e-schedule .e-work-cells {
  border-color: #e5e7eb;
}

.e-schedule .e-month-agenda-view,
.e-schedule-dialog,
.e-quick-popup-wrapper {
  color: #1f2937;
  border-color: #e5e7eb;
  background-color: #ffffff;
}

.e-schedule .e-agenda-view .e-appointment {
  border-left: 4px solid #3b82f6;
  background-color: #ffffff;
  color: #1f2937;
}

.e-dialog .e-dlg-header-content + .e-dlg-content {
  @apply pt-2;
}

/* Dark Mode Styling */
.dark .e-schedule {
  background-color: #1f2937;
  color: #e5e7eb;
}

.dark .e-schedule .e-schedule-toolbar,
.dark .e-schedule .e-timeline-month-header-calendar,
.dark .e-schedule .e-timeline-month-header {
  color: #e5e7eb;
}

/* .dark
  .e-table-container
  .e-table-wrap
  .e-schedule-table
  .e-date-header-container
  .e-date-header-wrap
  .e-schedule-table
  .e-header-cells {
  background-color: #1f2937;
} */

.dark
  .e-table-container
  .e-table-wrap
  .e-schedule-table
  .e-date-header-container
  .e-date-header-wrap
  .e-schedule-table
  .e-header-cells
  > span {
  color: #e5e7eb;
}

.dark
  .e-table-container
  .e-table-wrap
  .e-schedule-table
  .e-content-wrap
  .e-schedule-table
  .e-work-cells,
.dark .e-table-container .e-table-wrap .e-schedule-table .e-header-cells,
.dark .e-table-container .e-table-wrap .e-schedule-table .e-time-slots {
  @apply bg-gray-800;
}
.dark
  .e-table-container
  .e-table-wrap
  .e-schedule-table
  .e-content-wrap
  .e-schedule-table
  .e-work-cells
  .e-date-header,
.dark .e-table-container .e-table-wrap .e-schedule-table .e-header-cells,
.dark .e-table-container .e-table-wrap .e-schedule-table .e-time-slots > span {
  color: #e5e7eb;
}

.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar {
  border: 1px solid gray;
}

.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar {
  @apply bg-gray-800;
}

.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar
  .e-header
  .e-day,
.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar
  .e-header
  .e-icon-container
  .e-prev
  > span,
.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar
  .e-header
  .e-icon-container
  .e-next
  > span,
.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar
  .e-calendar-content-table
  .e-week-header
  th,
.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar
  .e-calendar-content-table
  .e-cell
  > span {
  @apply text-gray-200 bg-gray-800 rounded-full;
}

.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar
  .e-calendar-content-table
  .e-selected
  > span {
  @apply bg-rose-600;
}

.dark
  .e-schedule
  .e-schedule-toolbar-container
  .e-header-popup
  .e-header-calendar
  .e-footer-container {
  background-color: #1f2937;
}

.dark
  .e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-item
  > button {
  background-color: #1f2937;
}

.dark
  .e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-item
  > #e-tbr-btn_4
  > span {
  color: #dc2626;
}

.dark
  .e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-item
  > button:hover {
  background-color: #111827;
}

.dark
  .e-schedule
  .e-schedule-toolbar
  .e-toolbar-items
  .e-toolbar-item
  > button
  > span {
  color: #e5e7eb;
}

.dark .e-schedule .e-vertical-view .e-day-wrapper .e-appointment,
.dark .e-schedule .e-month-view .e-appointment {
  color: #e5e7eb;
  background-color: #374151;
}

.dark .e-schedule .e-month-view .e-work-cells,
.dark .e-schedule .e-vertical-view .e-work-cells {
  border-color: #374151;
  color: #1f2937;
}

.dark .e-dlg-header-content {
  @apply bg-gray-700 text-gray-300;
}

.dark .e-dlg-header .e-title-text,
.dark .e-dlg-header,
.dark .e-dialog .e-btn.e-dlg-closeicon-btn .e-btn-icon {
  @apply text-gray-300;
}

.dark .e-dialog .e-btn.e-dlg-closeicon-btn:hover {
  @apply bg-gray-800 scale-110 duration-200;
}

.dark .e-dialog .e-dlg-content {
  @apply bg-gray-800;
}

.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-title-location-row
  .e-subject-container
  .e-float-input,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-title-location-row
  .e-subject-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-title-location-row
  .e-location-container
  .e-float-input,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-title-location-row
  .e-location-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-start-location-row
  .e-location-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-start-end-row
  .e-start-container
  .e-float-input,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-start-end-row
  .e-start-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-start-end-row
  .e-start-container
  .e-float-input
  > span,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-start-end-row
  .e-end-container
  .e-float-input,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-start-end-row
  .e-end-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-start-end-row
  .e-end-container
  .e-float-input
  > span,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-all-day-time-zone-row
  .e-all-day-container
  .e-checkbox-wrapper
  > label
  .e-label,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-all-day-time-zone-row
  .e-time-zone-container
  .e-checkbox-wrapper
  > label
  .e-label,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-time-zone-row
  .e-start-time-zone-container
  .e-float-input,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-time-zone-row
  .e-start-time-zone-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-time-zone-row
  .e-start-time-zone-container
  .e-float-input
  .e-input-group-icon,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-time-zone-row
  .e-end-time-zone-container
  .e-float-input,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-time-zone-row
  .e-end-time-zone-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-time-zone-row
  .e-end-time-zone-container
  .e-float-input
  .e-input-group-icon,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-description-row
  .e-description-container
  .e-float-input,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-description-row
  .e-description-container
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-control
  .e-editor
  .e-input-wrapper
  .e-float-input
  .e-input-group-icon,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-control
  .e-editor
  .e-input-wrapper
  .e-float-input
  .e-float-text,
.dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-control
  .e-editor
  .e-input-wrapper
  .e-float-input {
  @apply text-gray-300;
}
.dark .e-dialog .e-footer-content > button,
.dark .e-dialog .e-footer-content {
  @apply bg-gray-700 text-gray-300;
}

.dark .e-dialog .e-footer-content > button:hover {
  @apply bg-gray-800;
}

/* .dark
  .e-dialog
  .e-dlg-content
  .e-form-container
  .e-schedule-form
  .e-dialog-parent
  .e-title-location-row
  .e-subject-container
  .e-float-input
  .e-float-text:focus {
  @apply text-rose-600;
} */

.dark .e-toolbar-items {
  background-color: #374151;
}

.dark .e-popup-content {
  background-color: #374151;
  color: #e5e7eb;
}

.dark
  .e-quick-popup-wrapper
  > .e-cell-popup
  > .e-popup-header
  > .e-header-icon-wrapper
  > button,
.dark .e-quick-popup-wrapper > .e-cell-popup > table > form > span {
  color: #e5e7eb;
}

.dark .e-popup-content > .e-popup-table {
  background-color: #374151;
}

.dark
  .e-quick-popup-wrapper
  .e-cell-popup
  .e-popup-content
  .e-popup-table
  .e-schedule-form
  .e-input-group
  > input,
.dark
  .e-quick-popup-wrapper
  .e-cell-popup
  .e-popup-content
  .e-popup-table
  .e-date-time
  .e-date-time-details,
.dark
  .e-quick-popup-wrapper
  .e-cell-popup
  .e-popup-content
  .e-popup-table
  .e-schedule-form
  .e-input-group
  > input::placeholder {
  color: #e5e7eb;
}

.dark .e-date-time > .e-date-time-icon,
.dark .e-date-time > .e-date-time-wrapper > .e-date-time-details {
  color: #e5e7eb;
}

.dark .e-description > .e-description-icon,
.dark .e-description > .e-description-details {
  color: #e5e7eb;
}

.dark .e-popup-footer > .e-event-details {
  color: #e5e7eb;
}

.dark .e-tbar-btn {
  background-color: #374151;
}

.dark .e-schedule .e-month-view .e-work-cells:hover,
.dark .e-schedule .e-vertical-view .e-work-cells:hover {
  background-color: #4b5563;
  color: #e5e7eb;
}

.dark .e-schedule .e-month-view .e-current-date,
.dark .e-schedule .e-vertical-view .e-current-date {
  background-color: #374151;
  color: #e5e7eb;
}

.dark .e-schedule .e-header-cells,
.dark .e-schedule .e-resource-cells,
.dark .e-schedule .e-work-cells {
  border-color: #374151;
}

.dark .e-schedule .e-month-agenda-view,
.dark .e-schedule-dialog,
.dark .e-quick-popup-wrapper {
  color: #e5e7eb;
  border-color: #4b5563;
  background-color: #374151;
}

.dark .e-schedule .e-agenda-view .e-appointment {
  border-left: 4px solid #3b82f6;
  background-color: #4b5563;
  color: #e5e7eb;
}
